@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(231, 231, 231), rgb(165, 167, 165));
}

/* Estilização CABEÇALHO */

header.cabecalho {
    width: 100%;
}
.opcoes ul {
    display: flex;
    justify-content: space-between;
}

.opcoes a {
    color: #a39f9f;
}

.ul-opcoes {
    list-style: none;
    font-size: 30px;
    margin: 1rem;
}

/* Estilização BARRA DE PESQUISA */

section.pesquisa {
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
    margin: 2rem;
}

i.bi-search {
    position: absolute;
    padding-top: 2rem;
    padding-left: 6%;
    font-size: 35px;
    padding-bottom: 1.6rem;
    color: #f37676;
}

#input-text {
    width: 90%;
    font-size: 45px;
    margin: auto;
    align-items: center;
    text-align: center;
    border: 0.5mm ridge #f37676;
    border-radius: 5px;
    padding-bottom: 0.7rem;
}


::-webkit-input-placeholder {
    color: #f37676;
    font-size: 30px;
}

input:focus {
    outline: 0;
}

/* Estilização REULTADO DA PESQUISA */
.resultado-pesquisa {
    width: 100%;
}

.perfil-pesquisa {
    display: flex;
    border: 1mm solid #f37676;;
    border-radius: 10px;
    margin: 1rem;
}

.foto {
    width: 70vh;
    height: 70vh;
    background: url(https://images.pexels.com/photos/3658120/pexels-photo-3658120.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1mm ridge rgb(143, 141, 141);
    border-radius: 10px;
    display: flex;
    margin: 1rem;
}

.descricao {
    display: flex;
    align-items: center;
}

.descricao h1 {
    font-size: 50px;
    margin-right: 1rem;
    padding: 1rem;
    color:#f37676;
    -webkit-text-stroke: #757575;
    -webkit-text-stroke-width: 1px;
}

.descricao p {
    position: absolute;
    bottom: 18%;
    font-size: 20px;
    color: #f37676;
    padding: 0.4rem;
    margin-left: 0;
    -webkit-text-stroke: #757575;
    -webkit-text-stroke-width: 0.2mm;
}

/* Estilização REAÇÕES*/

.reacoes {
    position: absolute;
    display: flex;
    left: 60%;
    bottom: 10%;
}

.reacoes ul {
    align-items: center;
    display: flex;
    list-style: none;
}

.reacoes i {
   font-size: 30px;
   margin: 1rem;
}

.reacao {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 2rem;
    border: 0.5px solid rgba(0, 0, 0, .4);
    box-shadow: 1px 3   px 8px rgba(0, 0, 0.12);
    transition: 0.5s;
}

div.reacao:hover {
    font-size: 40px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

div.reacao-deslike i {
    color: red;
}



div.reacao-superlike i {
    color: aqua;
}

div.reacao-like i {
    color: rgb(87, 250, 23);
}

