@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#f37676;
}

form#formulario {
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.4mm solid #585858;
    border-radius: 10px;
}

#formulario h2 {
    text-align: center;
    font-size: 40px;
    color: #f37676;
    font-family: font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}

#formulario input#email {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}

#formulario input#senha {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}

#formulario button#enviar {
    color: #f8eeee;
    font-size: 18px;
    width: 100%;
    height: 30px;
    margin: 20px 0 0 0;
    cursor: pointer;
    background-color: #f37676;
    border-radius: 10px;
    transition: 1s;
    margin-bottom: 1rem;
}

#formulario button#enviar:hover {
    background-color: rgb(240, 105, 105);
}