@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: font-family: 'Roboto', sans-serif;
    ;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(214, 215, 216);
}

div.nome-empresa {
    font-size: 40px;
    display: flex;
    color: #f37676;
    justify-content: center;
    margin: 5rem;
}

div.area-login {
   background-color: rgb(230, 63, 63);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   padding: 3rem;
   border-radius: 10px;
}

label {
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
}

button {
    position: relative;
    margin: 2rem 0 0 0 ;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(70, 152, 240);
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(42, 138, 241);
}