@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

body {
    width: 100%;
    height: 100%;
    background-color: #f37676;
}

/* Estilização CABEÇALHO */
header.cabecalho {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    border: 1px solid rgb(124, 124, 124);
    box-shadow: 1px 2px 2px rgb(102, 99, 99); 
}

header #nome-empresa {
    font-size: 30px;
    color: #f37676;
    text-shadow: 2px 2px 2px black;
}

header ul {
    list-style: none;

}

.bi-person-circle {
    font-size: 25px;
    color: #f37676;
    text-shadow: 1px 3px 3px black;
    transition: 0.7s;
}

.bi-person-circle:hover {
    font-size: 28px;
}

/*Estilização OPÇÕES*/
nav.opcoes {
    display: flex;
    justify-content: center;
    margin: 10px;
}

nav.opcoes ul {
    display: flex;
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    list-style: none;
}
 
nav.opcoes i {
    color:aliceblue;
    text-shadow: 3px 3px 3px black;
    transition: 0.7s;
}

nav.opcoes i:hover {
    font-size: 23px;
}

/* Estilização FOTO e BIO */
section.dados-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}


section .foto {
    display: flex;
    width: 50%;
    height: 75vh;
    background: url(https://images.pexels.com/photos/3361739/pexels-photo-3361739.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    border-radius: 10px;
    border: 1px solid rgb(161, 161, 161);
}


section .detalhes-nome {
    font-size: 20px;
    margin-left: 10px;
    color: aliceblue;
}

section .detalhes-bio {
    font-size: 15px;
    margin: 2px 10px 10px 10px;
    color: aliceblue;
}

.detalhes {
    padding: 50px 15px 15px 10px;
    background: linear-gradient(180deg, rgba(35, 34, 65, 0) 0%, rgba(0, 0, 0, .7));
    width: 100%;
    border-radius: 10px;
}

/* Estilizaçao REAÇÕES */
section .reacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}


div.reacao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 5px 20px 5px 20px;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue; 
    border: 0.5px solid rgba(0, 0, 0, .4);
    box-shadow: 1px 3px 8px rgba(0, 0, 0.12); 
    transition: 0.7s; 
}

div.reacao:hover {
    font-size: 40px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

div.reacao-deslike i {
    color: red;
}

div.reacao.reacao-superlike {
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.7s;
}

div.reacao.reacao-superlike:hover {
    font-size: 35px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

div.reacao-superlike i {
    color: blue;
}

div.reacao-like i {
    color: rgb(39, 233, 97);
}

/* Media Quarie foto de perfil*/
@media screen and (max-width:480px) {
    section .foto{
        width: 95%;
        height: 75vh;
    }
}